.filter-container 
{
  width: 80%;
  margin: auto;
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
}

.filter-container input
{
  padding: 1em;
  border-radius: 10px;
  flex-grow: 1;
}

.filter-container button
{
  padding: 1em 2em;
  background: rgb(0, 128, 0);
  color: white;
  border-radius: 10px;
  margin-left: 5px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .25s;
}

.filter-container input,
.filter-container button
{
  font-size: 1.1em;
}

.filter-container button:hover {
  background-color: rgba(0, 128, 0, 0.75);
}